<ul class="c-breadcrumbs">
  <li>
    <a href="/">Home</a>
  </li>
  {% for item in breadcrumbs %}
    <li>
      {% if item.path %}
        <a href="{{ item.path }}">{{ item.title }}</a>
      {% else %}
        <div>{{ item.title }}</div>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% stylesheet 'scss' %}
  @import 'variable';

  .c-breadcrumbs {
    color: $light-colour;
    font-size: .8125rem;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    @include max-width(medium) {
      display: none;
    }

    li {
      display: inline-block;

      &:not(:last-child)::after {
        content: '>';
        margin: 0 1.5ch;
      }
    }
  }
{% endstylesheet %}
