<section class="c-contact">
  <div class="c-contact__contain container">
    <div class="c-contact__info">
      {% if options.acf.contact_title %}
        <h2 class="c-contact__title">{{ options.acf.contact_title }}</h2>
      {% endif %}
      {% if options.acf.contact_text %}
        <div class="c-contact__text">{{ options.acf.contact_text }}</div>
      {% endif %}
      <form name="contact" method="post" action="/success/" data-netlify="true" data-netlify-honeypot="sweet-nectar">
        <p hidden><label>Leave this box empty: <input name="sweet-nectar" /></label></p>
        <div class="c-contact__form">
          <div class="c-contact__field">
            <label for="contact-name">Enter your name</label>
            <input type="text" id="contact-name" name="name">
          </div>
          <div class="c-contact__field">
            <label for="contact-phone">Enter your phone number (optional)</label>
            <input type="text" id="contact-phone" name="phone">
          </div>
          <div class="c-contact__field">
            <label for="contact-email">Enter your email address</label>
            <input type="email" id="contact-email" name="email">
          </div>
          <div class="c-contact__field">
            <label for="contact-message">Enter your message</label>
            <textarea id="contact-message" name="message"></textarea>
          </div>
          <label class="c-contact__newsletter">
            <input type="checkbox" id="contact-newsletter" name="newsletter">
            Sign up to our Newsletter (we don't spam, just some updates and stunning artwork!)
          </label>
          <input class="c-contact__submit" type="submit" name="submit" value="SEND MESSAGE">
        </div>
      </form>
    </div>
    <div class="c-contact__mapWrap">
      <div class="c-contact__mapContain">
        {% include 'location-map.html' %}
      </div>
    </div>
  </div>
</section>

{% stylesheet 'scss' %}
  @import 'variable';

  .c-contact {
    background: $primary-colour;
    font-size: 1.125rem;
    line-height: 1.2;
    position: relative;
    z-index: 1;

    @include max-width(large) {
      text-align: center;
    }

    @include min-width(large) {
      padding: 85px 0;
    }

    &__contain {
      @include min-width(large) {
        display: flex;
      }
    }

    &__info {
      background: $pale-colour-2;
      padding: 2.9375rem 1.3125rem 4rem;

      @include max-width(large) {
        margin: 0 -$container-padding-m;
      }

      @include min-width(large) {
        box-shadow: 20px 20px 40px 0 rgba($black, .16);
        flex: 0 0 50%;
        max-width: 50%;
        padding: 3.5625rem 3.75rem;
      }
    }

    &__title {
      font-family: $family-2;
      font-size: 2.125rem;
      margin-bottom: .75rem;
    }

    &__form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
    }

    &__field:not(.dud) {
      position: relative;

      input, textarea {
        border-radius: 3px;
        font-size: 1rem;
        padding: 1.5rem 1.3125rem .875rem;

        @include max-width(medium) {
          font-size: 1.125rem;
        }
      }

      textarea {
        min-height: 9em;
        resize: vertical;
      }

      label {
        color: $light-colour;
        font-size: .75rem;
        font-weight: $font-normal;
        left: 1.3125rem;
        line-height: 1.2;
        margin: .3rem 0 0;
        position: absolute;
        top: 0;
      }
    }

    &__newsletter {
      font-size: .875rem;
      font-style: italic;
      font-weight: $font-normal;
      line-height: 1.3;
      margin: .5rem 0 1rem;
      padding-left: 1.5rem;
      position: relative;

      input {
        left: 0;
        position: absolute;
        top: .1em;
      }
    }

    &__submit {
      background: $primary-colour;
      border-color: $primary-colour;
      border-width: 2px;
      color: $pale-colour;
      letter-spacing: .05em;
      margin-left: auto;
      padding: .8125rem 1.4375rem;

      @include max-width(large) {
        width: 100%;
      }

      &:hover, &:focus {
        border: 2px solid $primary-colour;
      }
    }

    &__mapWrap {
      margin-top: -2.5rem;
      padding: 0 0 27px;

      @include max-width(large) {
        height: 326px;
      }

      @include min-width(large) {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 45px 0;
      }
    }

    &__mapContain, &__map {
      height: 100%;
    }
  }
{% endstylesheet %}
