<div class="c-footerCredits">
  {% if options.acf.footer_copyright %}
    <div>{{ options.acf.footer_copyright | copyright }}</div>
  {% endif %}
  {% if menus['tertiary-menu'] %}
    <ul class="c-footerCredits__menu">
      {% for menuItem in menus['tertiary-menu'].items %}
        <li>
          <a href="{{ menuItem.url }}">{{ menuItem.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="c-footerCredits__accudio">WEBSITE BUILT BY <a href="https://accudio.com">ACCUDIO</a></div>
</div>

{% stylesheet 'scss' %}
  @import 'variable';

  .c-footerCredits {
    font-size: .8125rem;
    letter-spacing: .075em;
    padding: 1rem 0;

    @include max-width(large) {
      text-align: center;
    }

    @include min-width(large) {
      display: flex;
    }

    a {
      transition: box-shadow .2s;

      &:hover, &:focus {
        box-shadow: inset 0 -1.125em 0 0 $light-colour;
      }
    }

    &__menu {
      font-weight: $font-black;
      list-style: none;
      margin: 1rem 0;
      padding: 0;

      @include min-width(large) {
        margin: 0 0 0 60px;
      }

      li {
        display: inline-block;

        &:not(:last-child)::after {
          content: '|';
          margin: 0 1ch;
        }
      }
    }

    &__accudio {
      margin-left: auto;

      a {
        font-weight: $font-bold;
      }
    }
  }
{% endstylesheet %}
