<footer class="c-footer cfm">
  <h2 class="sr-text">Footer and Company Information</h2>
  <div class="c-footer__contain container">
    <div class="c-footer__top">
      {% assign sizes = '(min-width:768px) 630px, (min-width:576px) 490px, calc(100vw - 50px)' %}
      {% localImage '1896-footer.png', '', 'c-footer__logo', 630, false, sizes %}
      {% include 'footer-nav.html' %}
      <div class="c-footer__col c-footer__col--find">
        <h3><strong>Find</strong> us</h3>
        {% if options.acf.footer_findus %}
          {{ options.acf.footer_findus }}
        {% endif %}
      </div>
      <div class="c-footer__col c-footer__col--contact">
        <h3><strong>Contact</strong> us</h3>
        {% if options.acf.footer_contactus %}
          {{ options.acf.footer_contactus }}
        {% endif %}
        {% if options.acf.facebook_url %}
          <a class="c-footer__fb" href="{{ options.acf.facebook_url }}">
            {% include 'icon.html', icon: 'facebook' %}
            <span class="sr-text">Facebook</span>
          </a>
        {% endif %}
      </div>
      <div class="c-footer__col c-footer__col--visit">
        <h3><strong>Visit</strong> us</h3>
        {% if options.acf.footer_visitus %}
          {{ options.acf.footer_visitus }}
        {% endif %}
      </div>
    </div>
    {% include 'footer-credits.html' %}
  </div>
</footer>

{% stylesheet 'scss' %}
  @import 'variable';

  .c-footer {
    background: $primary-colour;
    color: $white;
    margin-top: auto;

    &__top {
      background: $light-colour;
      padding: 0 25px 5px;
      position: relative;

      @include max-width(large) {
        text-align: center;
      }

      @include min-width(large) {
        display: flex;
        padding: 41px 67px;
      }
    }

    &__logo {
      bottom: 0;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      right: 0;
      width: auto;
    }

    &__col {
      color: $pale-colour;
      line-height: 1.375;

      @include max-width(large) {
        padding: 35px 0;
        position: relative;

        &:not(:last-child)::after {
          background: #ede9ec;
          bottom: -3px;
          content: '';
          height: 6px;
          left: calc(50% - 28px);
          position: absolute;
          width: 56px;
        }
      }

      @include min-width(large) {
        margin: 0 28px;
        max-width: 12rem;
      }

      em {
        font-size: .875rem;
      }

      &--find {
        br {
          @include max-width(large) {
            display: none;
          }
        }
      }

      &--contact {
        a {
          @include max-width(large) {
            font-size: 1.25rem;
            text-decoration: underline;
          }
        }
      }
    }

    h3 {
      color: $white;
      font-family: $family-1;
      font-size: 1.125rem;
      font-weight: $font-normal;
      margin-bottom: .75rem;
    }

    &__fb:not(.dud) {
      display: block;
      font-size: 1.5rem;
      margin-top: 1.375rem;

      @include max-width(large) {
        font-size: 2rem;
      }
    }
  }
{% endstylesheet %}
