{% if menus['secondary-menu'] %}
  <h3 class="sr-text">Quick Links</h3>
  <ul class="c-footerNav">
    {% for menuItem in menus['primary-menu'].items %}
      <li>
        <a class="c-footerNav__link" href="{{ menuItem.url }}">{{ menuItem.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% stylesheet 'scss' %}
  @import 'variable';

  .c-footerNav {
    font-size: 1.125rem;
    line-height: 1.78;
    list-style: none;
    margin: 0 70px 0 -.5rem;
    padding: 0;

    @include max-width(large) {
      display: none;
    }

    &__link {
      font-weight: $font-bold;
      padding: 0 1rem 0 .5rem;
      transition: box-shadow .2s;

      &:hover, &:focus {
        box-shadow: inset 0 -1.125em 0 0 $primary-colour;
      }
    }
  }
{% endstylesheet %}
