<div class="c-headerNav">
  {% if menus['primary-menu'] %}
    <ul class="c-headerNav__menu">
      {% for menuItem in menus['primary-menu'].items %}
        <li class="c-headerNav__item" data-id="{{ menuItem.ID }}">
          <a
            class="
              c-headerNav__link
              {% navActive page.url, menuItem.url %}active{% endnavActive %}"
            href="{{ menuItem.url }}">
            {{ menuItem.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{% stylesheet 'scss' %}
  @import 'variable';

  .c-headerNav {
    @include max-width(nav) {
      margin: auto 0;
    }

    &__menu {
      display: flex;
      font-weight: $font-bold;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: relative;

      @include max-width(nav) {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        text-align: center;
      }
    }

    /* &__activeBg {
      background: #5f3854;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: width .2s, left .4s, top .4s;
      width: 0;

      @include max-width(nav) {
        display: none;
      }

      &.is-hidden {
        top: 100%;
      }
    } */

    &__link {
      display: block;
      line-height: 1;
      padding: 1rem;
      position: relative;

      @include max-width(nav) {
        font-size: 1.75rem;
      }

      &.active {
        @include min-width(nav) {
          background: #5f3854;
        }

        @include max-width(nav) {
          position: relative;

          &::before {
            background: $mid-colour;
            bottom: 0;
            content: '';
            height: 2px;
            left: calc(50% - 50px);
            position: absolute;
            width: 100px;
          }
        }
      }

      &:focus-visible {
        box-shadow: inset 0 0 0 8px $focus-outline;
        outline: none;
      }
    }
  }
{% endstylesheet %}
