<header class="c-header cfm">
  <div class="c-header__contain container">
    <div class="c-header__siteInfo">
      <a href="/" class="c-header__logoLink">
        {% localImage '1896gallery-logo.png', options.name, 'c-header__logo', 323, false, '323px' %}
        <div class="c-header__logoStickyWrap">
          {% localImage '1896gallery-logo-min.png', '', 'c-header__logoSticky', 78, false, '78px' %}
        </div>
        <span class="sr-text">1896 Gallery</span>
      </a>
      {% if options.description %}
        <div class="c-header__tagline{% if page.url == '/' %} c-header__tagline--light{% endif %}">
          {{ options.description }}
        </div>
      {% endif %}
    </div>
    <div class="c-navToggle">
      <button type="button" class="c-navToggle__button" aria-controls="primary-menu" aria-expanded="false">
        <div class="c-navToggle__burger">
          <span class="c-navToggle__bar"></span>
          <span class="c-navToggle__bar"></span>
          <span class="c-navToggle__bar"></span>
        </div>
        <span class="sr-text">Open navigation</span>
      </button>
    </div>
    <div class="c-header__nav">
      <div class="c-header__navInfo">
        <span class="c-header__text">
          {% include 'icon.html', icon: 'map-marker', class: 'c-header__icon' %}
          {{ options.acf.header_text }}
        </span>
        <span class="c-header__opening">
          {% include 'icon.html', icon: 'clock', class: 'c-header__icon' %}
          {{ options.acf.header_opening_times }}
        </span>
        {% if options.acf.facebook_url %}
          <a class="c-header__fb" href="{{ options.acf.facebook_url }}" title="Find us on Facebook">
            {% include 'icon.html', icon: 'facebook', class: 'c-header__icon c-header__icon--fb' %}
            <span class="c-header__fbText">Find us on Facebook</span>
          </a>
        {% endif %}
      </div>
      {% include 'header-nav.html' %}
    </div>
  </div>
</header>


{% javascript %}
const throttle = require('throttle.js')

const header = document.querySelector('.c-header')
const navToggle = document.querySelector('.c-navToggle__button')

// scroll position
window.addEventListener('scroll', throttle(() => {
  let scrollPos = window.scrollY
  if (scrollPos > 10) {
    header.classList.add('c-header--scrolled')
  } else {
    header.classList.remove('c-header--scrolled')
  }
}, 100))

// header nav open/close
navToggle.addEventListener('click', headerNavToggle)
function headerNavToggle() {
  header.classList.toggle('c-header--open')
  navToggle.classList.toggle('is-active')
}
{% endjavascript %}


{% stylesheet 'scss' %}
  @import 'variable';

  .c-header {
    $self: &;

    color: $pale-colour;
    height: $header-height-m;
    position: sticky;
    top: 0;
    z-index: 2;

    @include min-width(nav) {
      height: $header-height;
    }

    &::before, &::after, *, ::before, ::after {
      @media (prefers-reduced-motion: reduce) {
        transition-duration: .001s !important;
      }
    }

    &::before {
      background-color: $primary-colour;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      transform: scaleY(#{$header-height-m / 1px});
      transform-origin: top;
      transition: all .2s;
      width: 100%;

      @include min-width(nav) {
        transform: scaleY(#{$header-height / 1px});
      }
    }

    &::after {
      box-shadow: 0 0 10px 0 darken($primary-colour, 10%);
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: all .2s;
      visibility: hidden;
      width: 100%;
    }

    &__contain {
      display: flex;
      height: 100%;
      padding-top: 32px;
      position: relative;
      transition: all .2s;

      @include max-width(nav) {
        padding-top: 0;
      }
    }

    &__siteInfo {
      display: flex;
      flex: 0 1 auto;
      flex-direction: column;
      justify-content: center;
      transition: all .2s;

      @include min-width(nav) {
        flex: 0 0 327px;
        justify-content: flex-end;
        padding-bottom: 1rem;
        position: relative;
      }
    }

    &__logoLink {
      margin: auto 0;
      position: relative;

      @include max-width(nav) {
        max-height: 50px;
        transition: all .2s;
      }
    }

    &__logo {
      height: auto;
      max-height: 100%;
      max-width: 100%;
      opacity: 0;
      transition: all .5s;
      visibility: hidden;
      width: auto;

      @include min-width(nav) {
        max-width: 323px;
        opacity: 1;
        visibility: visible;
      }
    }

    &__logoStickyWrap {
      $header-height: 30px;
      display: block;
      height: $header-height;
      left: 0;
      position: absolute;
      top: calc(50% - #{$header-height / 2});
      transition: all .5s;
      width: 100%;

      @include min-width(nav) {
        opacity: 0;
      }
    }

    &__logoSticky {
      height: 100%;
      width: auto;
    }

    &__tagline {
      color: $primary-colour;
      font-family: $family-2;
      font-size: .75rem;
      left: 0;
      letter-spacing: .094em;
      opacity: 1;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: calc(100% + .375rem);
      transform: translateY(0);
      transition: color .2s;
      transition: all .2s;
      width: 100%;

      &--light {
        color: $pale-colour;
      }
    }

    &__nav {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      justify-content: space-between;

      @include max-width(nav) {
        background: $primary-colour;
        flex-direction: column-reverse;
        height: 100%;
        justify-content: flex-start;
        left: 100%;
        padding: 1rem $container-padding-m;
        position: fixed;
        top: 0;
        transform: translateX(0);
        transition: all .2s;
        width: 100vw;
      }
    }

    &__navInfo {
      font-size: .9375rem;
      text-align: right;

      @include max-width(nav) {
        display: flex;
        flex-direction: column;
        font-size: 1.125rem;
        padding-left: 2.5rem;
        position: relative;
        text-align: left;
      }

      @include min-width(nav) {
        max-height: 2rem;
        opacity: 1;
        transition: all .2s;
      }
    }

    &__icon {
      $icon: &;

      @include max-width(nav) {
        font-size: 1.5rem;
        left: 0;
        position: absolute;
      }

      @include min-width(nav) {
        &:not(#{$icon}--fb) {
          display: none;
        }
      }
    }

    &__opening {
      @include min-width(nav) {
        margin-left: 1.5625rem;
      }
    }

    &__fb {
      @include min-width(nav) {
        display: inline-block;
        font-size: 1.125rem;
        margin-left: 1rem;
        vertical-align: middle;

        &:hover, &:focus {
          transform: scale(1.3) rotate(5deg);
        }
      }
    }

    &__fbText {
      @include min-width(nav) {
        @include sr-text;
      }
    }

    &--scrolled {

      @include min-width(nav) {
        #{$self}__contain {
          transform: translateY(calc(-100% + 3rem));
        }

        #{$self}__navInfo {
          opacity: 0;
        }

        #{$self}__logo {
          opacity: 0;
        }

        #{$self}__logoStickyWrap {
          opacity: 1;
        }
      }

      &::before {
        transform: scaleY(56);

        @include min-width(nav) {
          transform: scaleY(48);
        }
      }

      &::after {
        opacity: 1;
        transform: translateY(calc(-100% + 56px));

        @include min-width(nav) {
          transform: translateY(calc(-100% + 3rem));
        }
      }

      #{$self}__tagline {
        opacity: 0;
        transform: translateY(-100%);
      }

      #{$self}__siteInfo {
        @include min-width(nav) {
          transform: translateY(25px);
        }
      }
    }

    &--open {
      #{$self}__nav {
        @include max-width(nav) {
          transform: translateX(-100%);
        }
      }
    }
  }

  .c-navToggle {
    $self: &;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: -1rem;
    padding-left: 3.75rem;
    position: relative;
    z-index: 101;

    @include min-width(nav) {
      display: none;
    }

    &__button {
      appearance: none;
      background: none;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      color: inherit;
      cursor: pointer;
      display: block;
      margin-bottom: 0;
      outline: none;
      padding: 1rem;
      transform: none;
    }

    &__burger {
      height: 24px;
      position: relative;
      transition: margin-top .5s;
      width: 25px;
      z-index: 5;
    }

    &__bar {
      background: $white;
      border-radius: 15%;
      display: block;
      height: 3px;
      left: 0;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      transition: all .3s, color .1s;
      width: 100%;

      &:first-child {
        top: 3px;
      }

      &:last-child {
        top: 21px;
      }
    }

    &.is-active {
      #{$self}__bar {
        opacity: 0;
        top: 50%;

        &:first-child {
          opacity: 1;
          transform: rotate(225deg);
        }

        &:last-child {
          opacity: 1;
          transform: rotate(-225deg);
        }
      }
    }
  }
{% endstylesheet %}
