{% assign carouselExhibitions = exhibitions.notPast | reverse %}

<section class="c-homeCarousel">
  <div class="c-homeCarousel__contain container">
    <div class="c-homeCarousel__slider swiper-container">
      <div class="swiper-wrapper">
        <div class="c-homeCarousel__slide c-homeCarousel__slide--image swiper-slide">
          <picture class="c-homeCarousel__image--pic">
            {% assign image = 'the-1896-gallery.jpg' %}
            <source srcset="{% urlImage image, 1124, 594 %}" media="(min-width: 1200px)">
            <source srcset="{% urlImage image, 960, 594 %}" media="(min-width: 992px)">
            <source srcset="{% urlImage image, 704, 594 %}" media="(min-width: 768px)">
            <source srcset="{% urlImage image, 490, 400 %}" media="(min-width: 576px)">
            <source srcset="{% urlImage image, 513, 400 %}">
            <img class="c-homeCarousel__image" src="{% urlImage image %}" alt="" width="1124" height="594" loading="eager">
          </picture>
        </div>
        {% if carouselExhibitions.size > 0 %}
          {% for exhibition in carouselExhibitions %}
            <div class="c-homeCarousel__slide swiper-slide">
              <div class="c-homeCarousel__slideText">
                <div class="c-homeCarousel__lead">
                  <strong>{{ exhibition.acf.dates.start_date | homeCarouselLead }}</strong>
                  Exhibition
                </div>
                <div class="c-homeCarousel__title">
                  {{ exhibition.title.rendered }}
                </div>
                <div class="c-homeCarousel__description">
                  {{ exhibition.acf.descriptions.long_description | shortDesc }}
                </div>
                <div class="c-homeCarousel__timespan">
                  {% exhibitionTimespan exhibition.acf.dates.start_date, exhibition.acf.dates.end_date %}
                </div>
                <a class="c-homeCarousel__link button is-light" href="/exhibitions/">LEARN MORE</a>
              </div>
              {% if exhibition.acf.images.acf_images %}
                <div class="c-homeCarousel__slideImage">
                  <picture class="c-homeCarousel__image--pic">
                    {% assign image = exhibition.acf.images.acf_images[0] %}
                    <source srcset="{% urlImage image.url, 700, 594 %}" media="(min-width: 1200px)">
                    <source srcset="{% urlImage image.url, 544, 594 %}" media="(min-width: 992px)">
                    <source srcset="{% urlImage image.url, 304, 594 %}" media="(min-width: 768px)">
                    <source srcset="{% urlImage image.url, 490, 221 %}" media="(min-width: 576px)">
                    <source srcset="{% urlImage image.url, 513, 221 %}">
                    <img class="c-homeCarousel__image" src="{% urlImage image.url %}" alt="{{ image.alt }}" width="{{ image.width }}" height="{{ image.height }}">
                  </picture>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
      {% if carouselExhibitions.size > 0 %}
        <button class="c-homeCarousel__nav c-homeCarousel__nav--prev swiper-button-prev">
          {% include 'icon.html', icon: 'arrow-left' %}
          <span class="sr-text">Previous</span>
        </button>
        <button class="c-homeCarousel__nav c-homeCarousel__nav--next swiper-button-next">
          {% include 'icon.html', icon: 'arrow-right' %}
          <span class="sr-text">Next</span>
        </button>
      {% endif %}
    </div>
  </div>
</section>

{% javascript %}
const exhibitions = {{ carouselExhibitions.size }}

whenLoaded('swiper', function() {
  const { Swiper, Navigation, A11y } = window.swiper
  Swiper.use([Navigation, A11y]);

  // initialise slider
  const carousel = new Swiper('.c-homeCarousel__slider', {
    slidesToShow: 1,
    spaceBetween: 30,
    navigation: exhibitions ? {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    } : false
  })
})
{% endjavascript %}

{% stylesheet 'scss' %}
  @import 'variable';

  .c-homeCarousel {
    $self: &;

    color: $white;
    font-size: 1.125rem;
    line-height: 1.55;
    margin-top: -$header-margin;
    overflow: hidden;
    padding-top: 53px;
    position: relative;

    @include max-width(medium) {
      padding-bottom: 45px;
    }

    &::before {
      background: $primary-colour;
      bottom: 215px;
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      @include max-width(medium) {
        bottom: 0;
      }
    }

    &__contain {
      @include max-width(medium) {
        padding: 0;
      }
    }

    &__slider {
      height: 400px;

      @include min-width(medium) {
        height: 594px;
      }

      &:not(.dud) {
        overflow: visible;
      }

      &.swiper-container-initialized {
        #{$self}__slide {
          opacity: 0;
          visibility: hidden;
        }
      }

      @include browser('ie') {
        overflow: hidden !important;
      }
    }

    &__slide {
      display: flex;
      height: auto;

      @include max-width(medium) {
        flex-direction: column-reverse;
      }

      &:not(.dud) {
        transition: all .3s;
      }

      &--image {
        @include object-fit-parent;

        .image {
          position: absolute;
        }
      }

      + #{$self}__slide {
        opacity: 0;
        visibility: hidden;
      }

      &.swiper-slide-active:not(.dud) {
        opacity: 1;
        visibility: visible;
      }

      @include browser('ie') {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }

    &__slideText {
      align-items: flex-start;
      background: $light-colour;
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      padding: 10px $container-padding-m 30px;

      @include min-width(medium) {
        align-items: stretch;
        flex: 1 0 400px;
        padding: 49px 50px 49px 55px;
      }
    }

    &__lead {
      color: #98788f;
      font-size: 1.875rem;

      @include max-width(medium) {
        background: rgba($primary-colour, .75);
        border-radius: 0 0 5px;
        box-shadow: 2px 2px 10px 0 rgba($primary-colour, .5);
        color: $pale-colour;
        font-size: 1.25rem;
        left: 0;
        padding: .25rem 1rem;
        position: absolute;
        top: 0;
        z-index: 1;
      }
    }

    &__title {
      font-family: $family-2;
      font-size: 2.75rem;
      margin: 0 0 1.3rem;

      @include min-width(medium) {
        margin: 2rem 0 1.3rem;
      }
    }

    &__description {
      @include max-width(medium) {
        display: none;
      }
    }

    &__timespan {
      font-family: $family-2;
      font-weight: $font-medium;
      margin: 1rem 0 3.8rem;

      @include max-width(medium) {
        display: none;
      }
    }

    &__link {
      margin: auto 0 0;
      padding: 1rem 2rem;
    }

    &__slideImage {
      @include object-fit-parent;
      flex: 0 1 700px;
    }

    &__image {
      @include object-fit;

      &--pic {
        height: 100%;
      }
    }

    &__nav {
      background: $pale-colour;
      border: 0;
      bottom: 14px;
      box-shadow: inset 0 0 0 0 $light-colour;
      line-height: 60px;
      outline: 0;
      text-align: center;
      transition: box-shadow .2s;

      &:not(.dud) {
        color: $primary-colour;
        height: 60px;
        left: auto;
        top: auto;
        width: 60px;
      }

      &::after {
        content: none !important;
      }

      @include max-width(medium) {
        bottom: 0;
        transform: translateY(50%);
      }

      &--next:not(.dud) {
        right: 18px;
      }

      &--prev:not(.dud) {
        right: 87px;
      }

      &:focus-visible {
        outline: 10px solid $focus-outline;
      }
    }
  }
{% endstylesheet %}
