<div id="c-location" class="c-location" style="overflow:hidden;">
  <noscript>
    <div class="c-location__fallback">
      <picture class="c-location__image--pic">
        <img class="c-location__image" src="{% urlImage 'the-1896-gallery.jpg' %}" alt="" width="1124" height="594" loading="lazy">
      </picture>
      <div class="c-location__address">
        <div>1896 Gallery, Deshar Road, Boat of Garten, Highland, PH24&nbsp;3BY</div>
        <a href="https://goo.gl/maps/xdEmmoFDacwekMNx5" target="_blank" rel="noopener noreferer">Google Maps</a>
      </div>
    </div>
  </noscript>
</div>

{% javascript %}
whenLoaded('leaflet', function() {
  const Leaflet = window.L
  const lat  = {{ options.acf.contact_location_lat }}
  const lon = {{ options.acf.contact_location_lng }}
  const map = Leaflet.map('c-location', {
    gestureHandling: true
  }).setView({ lon, lat }, 13)
  const label = `
    <p>
      1896 Gallery<br>
      Deshar Road,<br>
      Boat of Garten,<br>
      Highland<br>
      PH24 3BY<br>
    </p>
    <p>
      <a href="https://goo.gl/maps/xdEmmoFDacwekMNx5" target="_blank" rel="noopener noreferer">Google Maps</a>
    </p>
  `

  // add OpenStreetMap tiles
  Leaflet.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
  }).addTo(map)

  // show the scale bar on the lower left corner
  Leaflet.control.scale().addTo(map)

  const icon = Leaflet.icon({
		iconUrl: '/images/map/marker-icon.png',
		iconRetinaUrl: '/images/map/marker-icon-2x.png',
		shadowUrl: '/images/map/marker-shadow.png',
		iconSize: [25, 41],
		iconAnchor: [12, 41],
		popupAnchor: [1, -34],
		tooltipAnchor: [16, -28],
		shadowSize: [41, 41]
  });

  // show marker on the map
  Leaflet.marker({ lon, lat }, { icon }).bindPopup(label).addTo(map)
})
{% endjavascript %}

{% stylesheet 'scss' %}
@import 'variable';

  .c-location {
    height: 100%;

    &__fallback {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__image {
      object-fit: cover;
      object-position: bottom right;
      width: 100%;

      &--pic {
        display: flex;
        flex: 1 0 auto;
      }
    }

    &__address {
      background: $pale-colour-2;
      display: flex;
      font-weight: $font-bold;
      padding: 1rem;

      a {
        flex: 0 0 auto;
        margin-left: auto;
        text-decoration: underline;
      }
    }
  }
{% endstylesheet %}
