<!-- meta info -->
{% metainfo currentItem, socialImage, page %}

<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2">
<link rel="manifest" href="/site.webmanifest?v=2">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#5f3854">
<link rel="shortcut icon" href="/favicon.ico?v=2">
<meta name="msapplication-TileColor" content="#5f3854">
<meta name="theme-color" content="#f4f2f2">

{% if config.monetisation %}
	<meta name="monetization" content="{{ config.monetisation }}">
{% endif %}

<meta name="generator" content="Eleventy v0.11.0">
