<div id="micromodal" class="c-modal" aria-hidden="true">
  <div class="c-modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="c-enquire" role="dialog" aria-modal="true" aria-labelledby="enquire-modal-title">
      <div class="c-enquire__info">
        <a id="enquire-modal-image" class="c-enquire__imageWrap"></a>
        <h2 id="enquire-modal-title" class="c-enquire__title"></h2>
        <div class="c-enquire__details">
          <div id="enquire-modal-media"></div>
          <div id="enquire-modal-size"></div>
        </div>
        <div id="enquire-modal-price" class="c-enquire__price"></div>
      </div>
      <div class="c-enquire__formWrap">
        <button class="c-enquire__close" aria-label="Close">
          {% include 'icon.html', icon: 'close' %}
        </button>
        <h3 class="c-enquire__formTitle">Enquire about this piece</h3>
        <p>Send up a message and our team will get back to you as soon as we can.</p>
        <form name="enquiry" method="post" action="/success/" data-netlify="true" data-netlify-honeypot="sweet-nectar">
          <p hidden><label>Leave this box empty: <input name="sweet-nectar" /></label></p>
          <input type="hidden" name="work" value="" id="enquiry-modal-form-work" />
          <div class="c-enquire__form">
            <div class="c-enquire__field">
              <label for="enquiry-name">Enter your name</label>
              <input type="text" id="enquiry-name" name="name">
            </div>
            <div class="c-enquire__field">
              <label for="enquiry-phone">Enter your phone number (optional)</label>
              <input type="text" id="enquiry-phone" name="phone">
            </div>
            <div class="c-enquire__field">
              <label for="enquiry-email">Enter your email address</label>
              <input type="email" id="enquiry-email" name="email">
            </div>
            <div class="c-enquire__field">
              <label for="enquiry-message">Enter your message</label>
              <textarea id="enquiry-message" name="message"></textarea>
            </div>
            <input class="c-enquire__submit" type="submit" value="SEND ENQUIRY">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% javascript %}
whenLoaded('micromodal', function() {
  const closeButton = document.querySelector('.c-enquire__close')
  closeButton.addEventListener('click', function() {
    MicroModal.close('micromodal')
  })

  whenLoaded('photoswipe', function() {
    const PhotoSwipe = window.PhotoSwipe
    const PhotoSwipeUI = window.PhotoSwipeUI

    const image = document.querySelector('.c-enquire__imageWrap')
    image.addEventListener('click', function(e) {
      e = e || window.event
      e.preventDefault ? e.preventDefault() : e.returnValue = false

      const eTarget = e.target || e.srcElement
      const el = eTarget.closest('a')

      if (!el) return

      const size = el.getAttribute('data-size').split('x')

      const item = {
        el: el,
        src: el.getAttribute('href'),
        w: parseInt(size[0], 10),
        h: parseInt(size[1], 10)
      }

      const caption = el.querySelector('.p-artist__caption')
      if (caption) {
        item.title = caption.innerHTML
      }

      const pswp = document.querySelector('.pswp')

      const options = {
        index: 0,
        galleryUID: 'enquireModal',
        showHideOpacity: true,
        getThumbBoundsFn: false
      }

      const prefersReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches
      if (prefersReducedMotion) {
        options.showAnimationDuration = 0
      }

      const gallery = new PhotoSwipe(pswp, PhotoSwipeUI, [item], options)
      gallery.init()
    })
  })
})
{% endjavascript %}

{% stylesheet 'scss' %}
  @import 'variable';

  .c-modal {
    $self: &;

    display: none;
    position: relative;
    z-index: 2;

    &.is-open {
      display: block;
    }

    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.6);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .c-enquire {
    font-size: 1.125rem;
    line-height: 1.4;

    @include min-width(medium) {
      align-items: center;
      display: flex;
    }

    @include max-width(medium) {
      padding: 24px;
    }

    &__info {
      background: #f4f2f2;
      padding: 1.5rem 1.25rem 1.25rem;
      text-align: center;

      @include min-width(medium) {
        background: $white;
        box-shadow: 20px 20px 40px 0 rgba($black, .16);
        flex: 0 0 340px;
        margin: 41px 0;
        max-width: 340px;
        padding: 1.875rem 2.125rem;
        position: relative;
        z-index: 2;
      }
    }

    &__imageWrap {
      @include object-fit-parent;

      border-radius: 5px;
      display: block;
      height: 0;
      margin-bottom: 1rem;
      outline: 0;
      overflow: hidden;
      padding-bottom: 100%;
      width: 100%;

      @include max-width(medium) {
        display: none;
      }

      &:hover .zoom {
        background: rgba($primary-colour, .8);
      }
    }

    &__image {
      @include object-fit(true);
    }

    &__zoom {
      background: rgba($primary-colour, .41);
      border-radius: 5px;
      bottom: 11px;
      color: $white;
      font-size: 1.4375rem;
      height: 2.3rem;
      line-height: 2.3rem;
      position: absolute;
      right: 11px;
      text-align: center;
      transition: all .2s;
      width: 2.3rem;
    }

    &__title:not(.dud) {
      font-family: $family-1;
      font-size: 1.4375rem;
      font-weight: $font-bold;
      margin: 0 0 .5rem;

      @include min-width(medium) {
        margin: 1.8rem 0 1.5rem;
      }
    }

    &__details {
      margin: .7rem 0;

      @include max-width(medium) {
        display: none;
      }
    }

    &__price {
      font-size: 1.4375rem;
      font-weight: $font-bold;
    }

    &__formWrap {
      background: #f4f2f2;
      flex: 1 0 0;
      padding: 0 1.25rem 1.5rem;

      @include max-width(medium) {
        text-align: center;
      }

      @include min-width(medium) {
        box-shadow: 20px 20px 40px 0 rgba($black, .16);
        margin-left: -17px;
        padding: 3.75rem;
        position: relative;
      }
    }

    &__close {
      background: none;
      border: 0;
      cursor: pointer;
      font-size: 1.25rem;
      padding: .5rem .75rem;
      position: absolute;
      right: 18px;
      top: 22px;
    }

    &__formTitle:not(.dud) {
      margin: 0 0 .5rem;
    }

    &__form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
    }

    &__field {
      position: relative;

      input, textarea {
        border-radius: 3px;
        font-size: 1rem;
        padding: 1.5rem 1.3125rem .875rem;

        @include max-width(medium) {
          font-size: 1.125rem;
        }
      }

      textarea {
        min-height: 9em;
        resize: vertical;
      }

      label {
        color: $light-colour;
        font-size: .75rem;
        font-weight: $font-normal;
        left: 1.3125rem;
        line-height: 1.2;
        margin: .3rem 0 0;
        position: absolute;
        top: 0;
      }
    }

    &__submit {
      color: $pale-colour;
      margin-bottom: 0;
      margin-left: auto;
    }
  }
{% endstylesheet %}
