<section class="c-newsletter">
  <div class="c-newsletter__box">
    <div class="c-newsletter__wrap">
      <div class="c-newsletter__inner">
        <div class="c-newsletter__innerHead">
          <div class="c-newsletter__innerHeadInner">
            {% if options.acf.newsletter_title %}
              <div class="c-newsletter__title">
                {{ options.acf.newsletter_title }}
              </div>
            {% endif %}
            {% if options.acf.newsletter_text %}
              <div class="c-newsletter__text">
                {{ options.acf.newsletter_text }}
              </div>
            {% endif %}
          </div>
          {% localImage 'frame-mobile.png', '', 'c-newsletter__frameMobile', 344, false, '90vw' %}
        </div>
        <div class="c-newsletter__signup">
          <a class="button c-newsletter__submit is-light" href="/contact/">SIGN UP FROM OUR CONTACT FORM</a>
        </div>
      </div>
      {% localImage 'frame.png', '', 'c-newsletter__frame', 841, false, '841px' %}
    </div>
  </div>
</section>

{% stylesheet 'scss' %}
  @import 'variable';

  .c-newsletter {
    font-size: 1.125rem;
    padding-bottom: 72px;
    position: relative;

    @include min-width(large) {
      padding-bottom: 139px;
    }

    &::before {
      background: $primary-colour;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      top: 56px;
      width: 100%;
    }

    &__box {
      margin: 0 auto;
      max-width: 90%;
      width: 841px;
    }

    &__wrap {
      position: relative;
      width: 100%;

      @include min-width(large) {
        height: 0;
        padding-bottom: 51.5%;

        &::before {
          $margin: 10px;
          bottom: $margin;
          box-shadow: 30px 30px 30px 10px rgba($black, .27);
          content: '';
          left: $margin;
          position: absolute;
          right: $margin;
          top: $margin;
        }
      }
    }

    &__inner {
      $margin: 45px;

      @include flex-center;
      color: $white;
      text-align: center;

      @include min-width(large) {
        background: $light-colour;
        bottom: $margin;
        left: $margin;
        padding: 55px;
        position: absolute;
        right: $margin;
        top: $margin;
      }
    }

    &__innerHead {
      @include max-width(large) {
        height: 0;
        padding-bottom: 83.4%;
        position: relative;
        width: 100%;
      }
    }

    &__innerHeadInner {
      @include max-width(large) {
        $margin: 35px;
        align-items: center;

        background: $light-colour;
        bottom: $margin;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: $margin;
        padding: calc(15% - 45px);
        position: absolute;
        right: $margin;
        top: $margin;
      }
    }

    &__title {
      font-family: $family-2;
      font-size: 2.125rem;
    }

    &__text {
      letter-spacing: 0;
      margin: 0 auto;
      max-width: 26em;
    }

    &__signup {
      display: flex;
      margin-top: 2.75rem;

      @include max-width(large) {
        align-items: stretch;
        flex-direction: column;
      }
    }

    &__frame, &__frameMobile {
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &__frame {
      @include max-width(large) {
        display: none;
      }
    }

    &__frameMobile {
      @include min-width(large) {
        display: none;
      }
    }
  }
{% endstylesheet %}
