@import 'variable';
@import 'klaro/dist/klaro';

#klaro {
  .cookie-notice {
    background: $primary-colour;
    font-weight: $font-bold;

    .cn-ok {
      .cm-btn {
        display: none;

        &.cm-btn-success, &.cm-btn-info {
          display: inline-block;
        }
      }
    }

    .cm-learn-more {
      font-weight: $font-normal;
      text-decoration: none;
    }

    &:not(.cookie-modal-notice) {
      max-width: 300px;
    }
  }

  .cookie-modal, .cookie-notice {
    .cm-list-description {
      color: $white;
    }
  }

  .cm-btn {
    background: #555;
    box-shadow: none;
    color: #eee;
    cursor: pointer;
    outline: 0;
    padding: .5rem 1.2rem;
    transform: none;
    transition: all .2s;

    &.cm-btn-success {
      background: $mid-colour-2;
      color: $white;
      font-weight: $font-bold;
    }

    &:focus {
      box-shadow: 0 0 0 5px rgba($mid-colour-2, .5);
    }
  }

  .cm-modal {
    background: desaturate($primary-colour, 10%);
  }

  .hide {
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
    outline: 0;
    padding: 1rem;
    right: .5rem;
    top: .5rem;
    transform: none;

    &:focus {
      box-shadow: inset 0 0 0 5px $mid-colour-2;
    }
  }

  .cm-list-input {
    &:checked + .cm-list-label .slider {
      background-color: $mid-colour-2;
    }

    &:focus + .cm-list-label .slider {
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .2), 5px 5px 10px 0 rgba(0, 0, 0, .19), 0 0 0 8px $mid-colour-2;
    }
  }

  .cm-powered-by {
    display: none;
  }

  a {
    color: $pale-colour;
    font-weight: $font-bold;
    text-decoration: underline;
  }
}
