@import 'variable';

.c-header {
  &__tagline {
    color: $pale-colour;

    &::before {
      $vert: -.375rem;

      background: $primary-colour;
      bottom: $vert;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: $vert;
      z-index: -1;
    }
  }
}

.s-artists {
  .swiper-wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  &__slide {
    padding: 0;
  }

  &__scrollbar {
    display: none;
  }
}

.c-contact__mapWrap, .p-contact__mapWrap {
  height: auto;
  max-height: none;
}

.pswp {
  display: none;
}
