@import 'photoswipe/dist/photoswipe';
@import 'photoswipe/dist/default-skin/default-skin';

@import 'variable';

.pswp {
  &__bg {
    background: rgba($primary-colour, .81);
  }

  &__img {
    border-radius: 5px;
  }

  &__caption:not(.dud) {
    background: rgba(#191417, .75);
  }

  &__caption__center {
    max-width: none;
  }
}

.c-artModal {
  &__caption {
    color: $white;
    font-size: 1.125rem;
    text-align: center;
  }

  &__title {
    color: inherit;
    font-family: Source Sans Pro,sans-serif;
    font-size: 1.4375rem;
    font-weight: $font-bold;
  }

  &__details {
    margin: .7rem 0;
  }

  &__price {
    font-size: 1.4375rem;
    font-weight: $font-bold;
  }
}
