/**
 * mixins, functions and variables for colours
 */

// general constants
$black: #000;
$white: #fff;

// theme colours
$primary-colour: #402237;
$light-colour: #5f3854;
$mid-colour: #b998af;
$mid-colour-2: #98788f;
$pale-colour: #f4e2e2;
$pale-colour-2: #f4f2f2;

// specific colours
$page-bg: $pale-colour-2;
$heading-text: $primary-colour;
$body-text: $primary-colour;
$link-colour: currentColor;
$focus-outline: rgba(255, 0, 173, .5);
