/**
 * mixins, functions and variables for structure
 */

$header-margin: 56px;
$header-height: 117px;
$header-height-m: 56px;

// containers
$container-padding: 8px;
$container-padding-m: 25px;
$containers: (
  small:  540px,
  medium: 720px,
  large:  960px,
  xlarge: 1140px
);

// container
@mixin container() {
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
  width: 100%;

  @each $size, $width in $containers {
    @include min-width($size) {
      max-width: $width;
    }
  }

  @include max-width(medium) {
    padding: 0 $container-padding-m;
  }
}

// full container (100% width)
@mixin full-container() {
  max-width: 100%;
  padding: 0 $container-padding;
}

// row (negates container padding)
@mixin row() {
  margin-left: -$container-padding;
  margin-right: -$container-padding;
}

// row (negates container padding)
@mixin custom-row($padding) {
  margin-left: -#{$padding}px;
  margin-right: -#{$padding}px;

  > * {
    padding-left: #{$padding}px;
    padding-right: #{$padding}px;
  }
}

// object fit with fallback
@mixin object-fit-parent() {
  overflow: hidden;
  position: relative;
}

@mixin object-fit($is-absolute: false) {
  height: auto;
  left: 50%;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;

  @supports (object-fit: cover) {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
    top: auto;
    transform: none;
    width: 100%;

    @if ($is-absolute == false) {
      position: static;
    }
  }
}
