// variables
$buttons: $sg-buttons;
$button-background: $light-colour;
$button-hover-background: $primary-colour;
$button-colour: $pale-colour;
$button-font-weight: $font-bold;
$button-font-family: inherit;
$button-font-size: 1.0625rem;
$button-border-width: 1px;
$button-border-style: solid;
$button-border-colour: $button-background;
$button-hover-border-colour: $button-hover-background;
$button-border-radius: 3px;

// main button styling
%buttons {
  appearance: none;
  background: $button-background;
  border: $button-border-width $button-border-style $button-border-colour;
  border-radius: $button-border-radius;
  box-shadow: 0 5px 10px rgba($black, .4);
  color: $button-colour;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  letter-spacing: .093em;
  line-height: 1;
  margin: 0 0 .5rem;
  padding: .75rem 2.4375rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all .2s;
  vertical-align: middle;
}

// buttons on focus
%buttons-focus {
  background: $button-hover-background;
  border: $button-border-width $button-border-style $button-hover-border-colour;
  color: $button-colour;
  text-decoration: none;
}

// apply styles to .button class, button element, and button-based inputs
#{$buttons} {
  @extend %buttons;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover,
  &:focus,
  &:active {
    @extend %buttons-focus;
  }

  &:focus-visible {
    outline: 10px solid $focus-outline;
    transition: none;
  }

  .btn-fullwidth & {
    width: 100%;
  }

  &.is-light {
    $light-bg: #f4e2e2;
    $light-colour: $primary-colour;

    background: $light-bg;
    border-color: $light-bg;
    color: $light-colour;

    &:hover,
    &:focus,
    &:active {
      background: darken($light-bg, 5%);
      border-color: darken($light-bg, 5%);
      color: $light-colour;
    }
  }
}

// button reset
@mixin buttonreset() {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  text-transform: none;
  transform: none;
  vertical-align: inherit;
  width: auto;
}

.btnreset {
  @include buttonreset();
}
