<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- some basic meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'meta.html' %}

    <style id="critical"></style>

    <!-- page styles will be moved here, see bottom of file -->
  </head>
  <body>

    <div class="app {{ page.filePathStem | slug }}">
      {% include 'header.html' %}

      <div>
        {{ content }}
      </div>

      {% include 'footer.html' %}
    </div>

    <!-- include photoswipe and micromodal html layouts -->
    {% if assets.photoswipe %}
      {% include 'photoswipe.html' %}
    {% endif %}
    {% if assets.micromodal %}
      {% include 'micromodal.html' %}
    {% endif %}

    <!-- capture js included in this page -->
    {% capture js %}
      {% script page.url %}
    {% endcapture %}

    <!-- javascript for page -->
    <script id="page-js" src="{% asset js, 'js' %}" defer></script>

    <!-- conditional js -->
    {% if assets.photoswipe %}
      <script id="photoswipe-js" src="/_assets/photoswipe.js" defer></script>
    {% endif %}
    {% if assets.micromodal %}
      <script id="micromodal-js" src="/_assets/micromodal.js" defer></script>
    {% endif %}

    <!-- global js -->
    <script id="focus-visible-js" src="/_assets/focus-visible.js" defer></script>
    <script id="swiper-js" src="/_assets/swiper.js" defer></script>
    <script id="leaflet-js" src="/_assets/leaflet.js" defer></script>
    <script id="klaro-js" src="/_assets/klaro.js" defer></script>
    <script id="instantpage-js" type="module" src="/_assets/instantpage.js"></script>

    <!-- script loading utility -->
    <script>
      window.depsLoad = {}
      function whenLoaded(slug, callback) {
        if (typeof window.depsLoad[slug] !== 'undefined') {
          return callback()
        }
        var script = document.getElementById(slug + '-js')
        if (script) {
          script.addEventListener('load', function() {
            return callback()
          })
        }
      }
    </script>

    <!-- countly analytics -->
    {% include 'analytics.html' %}

    <!-- page styles -->
    {% append 'head' %}
      <!-- capture css included in this page -->
      {% capture css %}
        {% styles page.url %}
      {% endcapture %}
      {% capture href %}{% asset css, 'css' %}{% endcapture %}

      {% if twelvety.env == 'production' %}

        {% deferCSS '/_assets/global.css', 'high' %}
        {% deferCSS href, 'high' %}
        <!-- In production, critical CSS will be inserted below -->

      {% else %}

        <!-- In development, just include render-blocking stylesheets -->
        <link rel="stylesheet" href="/_assets/global.css">
        <link rel="stylesheet" href="{{ href }}">

      {% endif %}

      <!-- fonts -->
      {% deferCSS '/fonts/fonts.css', 'high' %}

      <!-- vendor css -->
      {% if assets.photoswipe %}
        {% deferCSS '/_assets/photoswipe.css', 'low', false %}
      {% endif %}
      {% deferCSS '/_assets/leaflet.css', 'low', false %}
      {% deferCSS '/_assets/klaro.css', 'low', false %}

      <!-- noscript css will be inserted here -->
      <noscript id="noscript"></noscript>

    {% endappend %}
  </body>
</html>
