---
pagination:
  data: artists
  size: 1
  alias: artist
permalink: 'artists/{{ artist.slug }}/'
eleventyComputed:
  breadcrumbs: [
    { path: '/artists/', title: 'Our Artists' },
    { title: '{{ artist.title.rendered }}' }
  ]
assets:
  photoswipe: true
  micromodal: true
---

<!-- html -->

<div class="p-artist container">
  <div class="p-artist__head page-head">
    <h1>{{ artist.title.rendered }}</h1>
    <h2>{{ artist.acf.info.media }}</h2>
    {% if artist.acf.info.description %}
      <div>{{ artist.acf.info.description }}</div>
    {% endif %}
    {% include 'breadcrumbs.html' %}
  </div>
  <ul class="p-artist__works">
    {% for work in works %}
      {% comment %}
      set workId so title is optional
      {% endcomment %}
      {% if work.title %}
        {% assign workId = work.title %}
        {% assign workTitle = work.title %}
      {% else %}
        {% capture workId %}{{ forloop.index }}{% endcapture %}
        {% capture workTitle %}Work {{ forloop.index }}{% endcapture %}
      {% endif %}
      <li id="work-{{ workId | slug }}" class="p-artist__work">
        <a href="{% urlImage work.acf_image.url %}" class="p-artist__imageWrap" data-size="{{ work.acf_image.width }}x{{ work.acf_image.height }}">
          {% wpImage work.acf_image, 'p-artist__image', 253, 1  %}
          <div class="p-artist__zoom">
            {% include 'icon.html', icon: 'zoom' %}
          </div>
          <div class="p-artist__caption" style="display:none">
            <div class="c-artModal__caption">
              <h2 class="c-artModal__title">{{ workTitle }}</h2>
              {% if work.media or work.size %}
                <div class="c-artModal__details">
                  {% if work.media %}<div>{{ work.media }}</div>{% endif %}
                  {% if work.size %}<div>{{ work.size }}</div>{% endif %}
                </div>
              {% endif %}
              {% if work.price %}
                <p class="c-artModal__price">{% workPrice work.availability, work.price %}</p>
              {% endif %}
            </div>
          </div>
        </a>
        <h3 class="p-artist__title">{{ workTitle }}</h3>
        {% if work.media or work.size %}
          <div class="p-artist__details">
            {% if work.media %}<div>{{ work.media }}</div>{% endif %}
            {% if work.size %}<div>{{ work.size }}</div>{% endif %}
          </div>
        {% endif %}
        {% if work.price %}
          <div class="p-artist__price">{% workPrice work.availability, work.price %}</div>
        {% endif %}
        <a
          class="p-artist__enquire button"
          href="/contact/"
          {% if work.availability != 'available' %}disabled{% endif %}
          data-name="{{ workTitle }}"
          data-artist="{{ artist.title.rendered }}"
          data-media="{% if work.media %}{{ work.media }}{% endif %}"
          data-size="{% if work.size %}{{ work.size }}{% endif %}"
          data-price="{% workPrice work.availability, work.price %}"
          data-id="{{ workId | slug }}">
          {% if work.availability == 'available' %}
            ENQUIRE
          {% else %}
            NOT AVAILABLE
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- endhtml -->

{% javascript %}
// image lightbox
whenLoaded('photoswipe', function() {
  const PhotoSwipe = window.PhotoSwipe
  const PhotoSwipeUI = window.PhotoSwipeUI

  let works = []

  parseGalleries()

  const items = document.querySelectorAll('.p-artist__imageWrap')
  items.forEach(function(item) {
    item.addEventListener('click', onClick)
  })

  const hashData = parseURL()
  if (hashData.pid) {
    open(hashData.pid - 1, true)
  }

  function parseGalleries() {
    document.querySelectorAll('.p-artist__imageWrap').forEach(function(el) {
      const size = el.getAttribute('data-size').split('x')
      const item = {
        el: el,
        src: el.getAttribute('href'),
        w: parseInt(size[0], 10),
        h: parseInt(size[1], 10)
      }

      const imgTag = el.querySelector('img')
      if (imgTag) {
        item.msrc = imgTag.getAttribute('src')
      }

      const caption = el.querySelector('.p-artist__caption')
      if (caption) {
        item.title = caption.innerHTML
      }

      works.push(item)
    })
  }

  function onClick(e) {
    e = e || window.event
    e.preventDefault ? e.preventDefault() : e.returnValue = false

    const eTarget = e.target || e.srcElement
    const clickedItem = eTarget.closest('a')

    if (!clickedItem) return

    // find gallery in galleries object
    let index
    works.some(function(item, i) {
      if (item.el === clickedItem) {
        index = i
        return true
      }
      return false
    })

    if (index >= 0) {
      return open(index)
    }
    return false
  }

  function parseURL() {
    const hash = window.location.hash.substring(1)
    const params = {}

    if (hash.length < 5) {
      return params
    }

    const vars = hash.split('&')
    vars.forEach(function(v) {
      if (v) {
        const pair = v.split('=')
        if (pair.length === 2) {
          params[pair[0]] = pair[1]
        }
      }
    })

    return params
  }

  function open(index, disableAnimation) {
    const pswp = document.querySelector('.pswp')

    const options = {
      index: index,
      galleryUID: 'artist-works',
      showHideOpacity: true,
      getThumbBoundsFn: false
    }

    const prefersReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches
    if (disableAnimation || prefersReducedMotion) {
      options.showAnimationDuration = 0
    }

    const gallery = new PhotoSwipe(pswp, PhotoSwipeUI, works, options)
    gallery.init()
  }
})

// enquire modal
whenLoaded('micromodal', function() {
  const enquireButtons = document.querySelectorAll('.p-artist__enquire')

  enquireButtons.forEach(function(button) {
    button.addEventListener('click', enquireClick)
  })

  function enquireClick(e) {
    e.preventDefault()

    const button = e.srcElement

    // don't show if button is disabled
    if (button.getAttribute('disabled') !== null) return

    document.getElementById('enquire-modal-title').innerHTML = button.getAttribute('data-name')
    document.getElementById('enquire-modal-media').innerHTML = button.getAttribute('data-media')
    document.getElementById('enquire-modal-size').innerHTML = button.getAttribute('data-size')
    document.getElementById('enquire-modal-price').innerHTML = button.getAttribute('data-price')

    const workText = button.getAttribute('data-name') + ' - ' + button.getAttribute('data-artist')
    document.getElementById('enquiry-modal-form-work').setAttribute('value', workText)

    // image
    const id = button.getAttribute('data-id')
    const parent = document.getElementById('work-' + id)
    const image = parent.querySelector('.p-artist__imageWrap')

    const modalImage = document.getElementById('enquire-modal-image')
    modalImage.innerHTML = image.innerHTML
    modalImage.setAttribute('href', image.getAttribute('href'))
    modalImage.setAttribute('data-size', image.getAttribute('data-size'))

    MicroModal.show('micromodal')
  }
})
{% endjavascript %}

{% stylesheet 'scss' %}
  @import 'variable';

  .p-artist {
    $works-padding: 19px;
    $works-padding-m: 26px;
    $works-bottom: 125px;
    $works-bottom-m: 76px;

    h1 {
      margin-bottom: .5rem;
    }

    h2 {
      font-family: $family-1;
      font-size: 1.125rem;
      font-weight: $font-bold;

      @include min-width(medium) {
        font-size: 1.4375rem;
      }

      &:not(.dud) {
        margin-top: 0;
      }
    }

    &__works {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 72px 0 #{177px - $works-bottom-m};
      padding: 0;

      @include min-width(medium) {
        margin: 72px -#{$works-padding} #{177px - $works-bottom};
      }
    }

    &__work {
      display: flex;
      flex: 0 0 100%;
      flex-direction: column;
      font-size: 1.125rem;
      justify-content: flex-end;
      line-height: 1.4;
      margin-bottom: $works-bottom-m;
      max-width: 100%;
      padding: 0 $works-padding-m;
      text-align: center;

      @include min-width(medium) {
        flex: 0 0 25%;
        margin-bottom: $works-bottom;
        max-width: 25%;
        padding: 0 $works-padding;
      }

      @include browser('ie') {
        display: block;
      }
    }

    &__imageWrap {
      @include object-fit-parent;

      border-radius: 5px;
      display: block;
      height: 0;
      margin-bottom: 1rem;
      overflow: hidden;
      padding-bottom: 100%;

      &:hover .zoom {
        background: rgba($primary-colour, .8);
      }
    }

    &__image {
      @include object-fit(true);
    }

    &__zoom {
      background: rgba($primary-colour, .41);
      border-radius: 5px;
      bottom: 11px;
      color: $white;
      font-size: 1.4375rem;
      height: 2.3rem;
      line-height: 2.3rem;
      position: absolute;
      right: 11px;
      text-align: center;
      transition: all .2s;
      width: 2.3rem;
    }

    &__title:not(.dud) {
      font-family: $family-1;
      font-size: 1.4375rem;
      font-weight: $font-bold;
      margin: auto 0;
    }

    &__details {
      margin: .7rem 0;
    }

    &__price {
      font-size: 1.4375rem;
      font-weight: $font-bold;
    }

    &__enquire:not(.dud) {
      box-shadow: 2px 2px 5px 0 rgba(#230626, .44);
      letter-spacing: .05em;
      margin-top: 1rem;
      padding: .75rem 1rem;
      width: 100%;

      &[disabled] {
        background: #d1c0cc;
        border-color: #d1c0cc;
        color: #a77e9b;
        cursor: default;
      }
    }
  }
{% endstylesheet %}
