.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include browser('ie') {
    display: block;
  }

  &.index {
    position: relative;

    &::before {
      background: $primary-colour;
      content: '';
      height: $header-height-m;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      @include min-width(nav) {
        height: $header-height;
      }
    }
  }
}
