.page-head {
  font-size: 1.125rem;
  line-height: 1.55;
  position: relative;

  p {
    max-width: 907px;

    a {
      font-weight: $font-black;
      text-decoration: underline;
    }
  }

  .c-breadcrumbs {
    position: absolute;
    right: 0;
    top: 1rem;

    @include max-width(medium) {
      display: none;
    }
  }

  &.is-narrow {
    p {
      max-width: 591px;
    }
  }
}
