---
wpSlug: artists
eleventyComputed:
  breadcrumbs: [
    { title: '{{ currentItem.title.rendered }}' }
  ]
assets:
  photoswipe: true
---

<!-- html -->

<div class="container">
  <div class="page-head is-narrow">
    <h1>{{ currentItem.title.rendered }}</h1>
    {% if currentItem.content.rendered %}
      {{ currentItem.content.rendered }}
    {% endif %}
    {% include 'breadcrumbs.html' %}
  </div>
  {% if artists %}
    <ul class="p-artists">
      {% for artist in artists %}
        <li class="p-artists__artistWrap">
          <a class="p-artists__artist" href="/artists/{{ artist.slug }}/">
            <div class="p-artists__artistImage">
              {% wpImage artist.acf.acf_thumbnail, 'p-artists__image', 253, 1  %}
              <div class="p-artists__overlay">
                <div class="p-artists__overlayText">View Artist</div>
                <div class="p-artists__overlayIcon">
                  {% include 'icon.html', icon: 'arrow-right' %}
                </div>
              </div>
            </div>
            <h3 class="p-artists__artistTitle">
              {{ artist.title.rendered }}
            </h3>
            {% if artist.acf.info.media %}
              {{ artist.acf.info.media }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<!-- endhtml -->

{% stylesheet 'scss' %}
  @import 'variable';

  $padding: 19px;
  $margin-bottom: 80px;
  $margin-bottom-m: 50px;

  .p-artists {
    $self: &;

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -#{$padding} -#{$margin-bottom-m};
    padding: 88px 0 150px;

    @include min-width(medium) {
      margin: 0 -#{$padding} -#{$margin-bottom};
      padding: 88px 0 171px;
    }

    *, ::before, ::after {
      @media (prefers-reduced-motion: reduce) {
        transition-duration: .001s !important;
      }
    }

    &__artistWrap {
      flex: 0 0 50%;
      margin-bottom: $margin-bottom-m;
      max-width: 50%;
      padding: 0 $padding;

      @include min-width(medium) {
        flex: 0 0 25%;
        margin-bottom: $margin-bottom;
        max-width: 25%;
      }
    }

    &__artist {
      display: block;
      font-size: 1.125rem;
      text-align: center;

      &:hover, &:focus {
        color: $mid-colour-2;

        #{$self}__overlay {
          opacity: 1;
          visibility: visible;
        }
      }

      &:focus-visible {
        outline: none;

        #{$self}__artistImage {
          box-shadow: 0 0 0 10px $focus-outline;
        }
      }
    }

    &__artistImage {
      @include object-fit-parent;
      border-radius: 5px;
      height: 0;
      overflow: hidden;
      padding-bottom: 100%;
    }

    &__image {
      @include object-fit(true);
    }

    &__overlay {
      align-items: center;
      background: rgba($primary-colour, .84);
      color: $pale-colour;
      display: flex;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: all .3s;
      visibility: hidden;
      width: 100%;

      @include max-width(medium) {
        display: none;
      }
    }

    &__overlayText {
      flex: 1 0 0;
      font-family: $family-2;
      font-size: 2.125rem;
      font-weight: $font-normal;
      line-height: 1;
      margin-bottom: .4rem;
    }

    &__overlayIcon {
      background: $mid-colour-2;
      flex: 0 0 60px;
      height: 60px;
      line-height: 60px;
      max-width: 60px;
    }

    &__artistTitle:not(.dud) {
      color: currentColor;
      font-family: $family-1;
      font-size: 1.4375rem;
      font-weight: $font-bold;
      margin: 1rem 0 0;
    }
  }
{% endstylesheet %}
