---
wpSlug: contact
newsletter: false
contact: false
eleventyComputed:
  breadcrumbs: [
    { title: '{{ currentItem.title.rendered }}' }
  ]
---

<!-- html -->

<div class="container">
  <div class="page-head is-narrow">
    <h1>{{ currentItem.title.rendered }}</h1>
    {% if currentItem.content %}
      {{ currentItem.content.rendered }}
    {% endif %}
    {% include 'breadcrumbs.html' %}
  </div>
  <div class="p-contact">
    <div class="p-contact__text">
      {% assign block = currentItem.acf.contact_block %}
      {{ block.text }}
      <ul class="p-contact__contactList">
        <li>
          {% include 'icon.html', icon: 'email', class: 'p-contact__icon' %}
          Email: <a href="mailto:{{ block.email }}">{{ block.email }}</a>
        </li>
        <li>
          {% include 'icon.html', icon: 'phone', class: 'p-contact__icon' %}
          Tel: <a href="tel: {{ block.phone | phone }}">{{ block.phone }}</a>
        </li>
        <li class="p-contact__facebook">
          {% include 'icon.html', icon: 'facebook', class: 'p-contact__icon' %}
          Facebook: <a href="{{ options.acf.facebook_url }}">@{{ block.facebook }}</a>
        </li>
        <li>
          {% include 'icon.html', icon: 'map-marker', class: 'p-contact__icon' %}
          Find us at:<br />
          {{ block.location }}
        </li>
      </ul>
    </div>
    <div class="p-contact__formWrap">
      {% if options.acf.contact_title %}
        <h2 class="p-contact__formTitle">{{ options.acf.contact_title }}</h2>
      {% endif %}
      {% if options.acf.contact_text %}
        <div>{{ options.acf.contact_text }}</div>
      {% endif %}
      <form name="contact" method="post" action="/success/" data-netlify="true" data-netlify-honeypot="sweet-nectar">
        <p hidden><label>Leave this box empty: <input name="sweet-nectar" /></label></p>
        <div class="p-contact__form">
          <div class="p-contact__field">
            <label for="contact-name">Enter your name</label>
            <input type="text" id="contact-name" name="name">
          </div>
          <div class="p-contact__field">
            <label for="contact-phone">Enter your phone number (optional)</label>
            <input type="text" id="contact-phone" name="phone">
          </div>
          <div class="p-contact__field">
            <label for="contact-email">Enter your email address</label>
            <input type="email" id="contact-email" name="email">
          </div>
          <div class="p-contact__field">
            <label for="contact-message">Enter your message</label>
            <textarea id="contact-message" name="message"></textarea>
          </div>
          <label class="p-contact__newsletter">
            <input type="checkbox" id="contact-newsletter" name="newsletter">
            Sign up to our Newsletter (we don't spam, just some updates and stunning artwork!)
          </label>
          <input class="p-contact__submit is-light" type="submit" name="submit" value="SEND MESSAGE">
        </div>
      </form>
    </div>
  </div>
  <div class="p-contact__mapSection">
    <h2 class="p-contact__mapTitle">Visit Us</h2>
    <div class="p-contact__mapWrap">
      {% include 'location-map.html' %}
    </div>
  </div>
</div>

<!-- endhtml -->

{% stylesheet 'scss' %}
  @import 'variable';

  .p-contact {
    font-size: 1.125rem;
    margin-top: 2rem;

    @include min-width(medium) {
      color: $white;
      display: flex;
      line-height: 1.5;
    }

    &__text {
      @include min-width(medium) {
        background: $light-colour;
        box-shadow: 20px 20px 40px rgba($black, .16);
        flex: 0 0 50%;
        margin: 53px 0;
        max-width: 50%;
        padding: 4.125rem 3.7rem;
      }

      a {
        font-weight: $font-black;
        text-decoration: underline;
      }

      br {
        @include max-width(medium) {
          display: none;
        }
      }
    }

    &__contactList {
      list-style: none;
      margin: 2.8rem 0 0;
      padding-left: 2.5rem;

      @include max-width(medium) {
        background: $light-colour;
        color: $white;
        margin-bottom: 1.5rem;
        padding: 2rem 1.5rem 2rem 4.5rem;
      }

      li {
        margin-bottom: .2rem;
        position: relative;
      }
    }

    &__icon:Not(.dud) {
      left: -2.5rem;
      position: absolute;
      top: .3em;
    }

    &__facebook {
      @include min-width(medium) {
        margin: 1rem 0;
      }
    }

    &__formWrap {
      background: $primary-colour;
      color: $white;
      padding: 2rem 1.5rem;

      @include min-width(medium) {
        box-shadow: 20px 20px 40px 0 rgba($black, .16);
        flex: 0 0 50%;
        max-width: 50%;
        padding: 3.75rem;
      }

      @include max-width(medium) {
        font-weight: $font-bold;
      }
    }

    &__formTitle {
      color: inherit;
      font-size: 2.125rem;

      @include max-width(medium) {
        display: none;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
    }

    &__field {
      position: relative;

      input, textarea {
        border-radius: 3px;
        font-size: 1rem;
        padding: 1.5rem 1.3125rem .875rem;

        @include max-width(medium) {
          font-size: 1.125rem;
        }
      }

      textarea {
        min-height: 9em;
        resize: vertical;
      }

      label {
        color: $light-colour;
        font-size: .75rem;
        font-weight: $font-normal;
        left: 1.3125rem;
        line-height: 1.2;
        margin: .3rem 0 0;
        position: absolute;
        top: 0;
      }
    }

    &__newsletter {
      font-size: .875rem;
      font-style: italic;
      font-weight: $font-normal;
      line-height: 1.3;
      margin: .5rem 0 1rem;
      padding-left: 1.5rem;
      position: relative;

      input {
        left: 0;
        position: absolute;
        top: .1em;
      }
    }

    &__submit {
      color: $pale-colour;
      margin-bottom: 0;
      margin-left: auto;
    }

    &__mapSection {
      padding: 58px 0 84px;

      @include min-width(medium) {
        padding-bottom: 181px;
      }
    }

    &__mapWrap {
      height: 510px;
      margin-top: 2rem;
      max-height: 60vh;
    }

    &__map {
      height: 100%;
      width: 100%;
    }
  }
{% endstylesheet %}
