---
wpSlug: exhibitions
eleventyComputed:
  breadcrumbs: [
    { title: '{{ currentItem.title.rendered }}' }
  ]
---

<!-- html -->

<div class="container">
  <div class="page-head">
    <h1>{{ currentItem.title.rendered }}</h1>
    {% if currentItem.content.rendered %}
      {{ currentItem.content.rendered }}
    {% endif %}
    {% include 'breadcrumbs.html' %}
  </div>
  {% if exhibitions.current.size > 0 %}
    <div class="p-exhibitions p-exhibitions--current">
      {% if exhibitions.current.size > 1 %}
        <h2 class="p-exhibitions__title">
          Current <span class="p-exhibitions__light">Exhibitions</span>
        </h2>
      {% endif %}
      {% for exhibition in exhibitions.current %}
        <div class="g-exhibitionSlider">
          {% if exhibition.acf.images.acf_images %}
            <div class="g-exhibitionSlider__images">
              <div class="swiper-wrapper">
                {% for exImage in exhibition.acf.images.acf_images %}
                  <div class="g-exhibitionSlider__image-wrap swiper-slide">
                    <img class="g-exhibitionSlider__image" src="{{ exImage.url }}" alt="{{ exImage.alt }}" width="{{ exImage.width }}" height="{{ exImage.height }}" loading="eager"/>
                  </div>
                {% endfor %}
              </div>
              {% if exhibition.acf.images.acf_images.size > 1 %}
                <button class="g-exhibitionSlider__nav g-exhibitionSlider__nav--prev swiper-button-prev">
                  {% include 'icon.html', icon: 'arrow-left' %}
                </button>
                <button class="g-exhibitionSlider__nav g-exhibitionSlider__nav--next swiper-button-next">
                  {% include 'icon.html', icon: 'arrow-right' %}
                </button>
              {% endif %}
            </div>
          {% endif %}
          <div class="g-exhibitionSlider__text">
            {% if exhibitions.current.size == 1 %}
              <h2 class="p-exhibitions__title">
                Current <span class="p-exhibitions__light">Exhibition</span>
              </h2>
            {% endif %}
            <h2 class="g-exhibitionSlider__title">{{ exhibition.title.rendered }}</h2>
            <div class="g-exhibitionSlider__timespan">
              {% exhibitionTimespan exhibition.acf.dates.start_date, exhibition.acf.dates.end_date %}
            </div>
            <div>{{ exhibition.acf.descriptions.long_description | shortDesc }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if exhibitions.future.size > 0 %}
    <div class="p-exhibitions p-exhibitions--upcoming">
      <h2 class="p-exhibitions__title">
        Upcoming <span class="p-exhibitions__light">{% exhibitionPlural exhibitions.future.size %}</span>
      </h2>
      <ul class="g-exhibitionList">
        {% for exhibition in exhibitions.future %}
          <li class="g-exhibitionList__single g-exhibitionList__single--wide">
            {% if exhibition.acf.images.acf_images %}
              <div class="g-exhibitionList__imageWrap">
                {% assign image = exhibition.acf.images.acf_images[0] %}
                {% wpImage image, 'g-exhibitionList__image', 253, 1, false, '(min-width:1200px) 253px, (min-width:992px) 208px, (min-width:768px) 148px, (min-width:576px) 226px, calc(100vw - 50px)'  %}
              </div>
            {% endif %}
            <div class="g-exhibitionList__content">
              <h3 class="g-exhibitionList__title">{{ exhibition.title.rendered }}</h3>
              <div class="g-exhibitionList__timespan">
                {% exhibitionTimespan exhibition.acf.dates.start_date, exhibition.acf.dates.end_date %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if exhibitions.past.size > 0 %}
    <div class="p-exhibitions p-exhibitions--previous">
      <h2 class="p-exhibitions__title">
        Previous <span class="p-exhibitions__light">{% exhibitionPlural exhibitions.past.size %}</span>
      </h2>
      <ul class="g-exhibitionList">
        {% assign pastExhibitions = exhibitions.past | reverse %}
        {% for exhibition in pastExhibitions %}
          <li class="g-exhibitionList__single">
            {% if exhibition.acf.images.acf_images %}
              <div class="g-exhibitionList__imageWrap">
                {% assign image = exhibition.acf.images.acf_images[0] %}
                {% wpImage image, 'g-exhibitionList__image', 253, 1  %}
              </div>
            {% endif %}
            <h3 class="g-exhibitionList__title">{{ exhibition.title.rendered }}</h3>
            {% if exhibition.acf.descriptions.short_description %}
              <div class="g-exhibitionList__desc">{{ exhibition.acf.descriptions.short_description }}</div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>

<!-- endhtml -->

{% javascript %}
const currentExhibitions = {{ exhibitions.current.size }}

if (currentExhibitions) {
  whenLoaded('swiper', function() {
    const { Swiper, A11y } = window.swiper
    Swiper.use([A11y]);

    // initialise slider
    const slider = new Swiper('.g-exhibitionSlider__images', {
      currentSwiper: {
        slidesToShow: 1,
        spaceBetween: 30,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    })
  })
}
{% endjavascript %}

{% stylesheet 'scss' %}
  @import 'variable';

  .p-exhibitions {
    &--current {
      border-bottom: 9px solid #e6e6e6;
      font-size: 1.125rem;
      margin-top: 31px;
      padding: 30px 0;

      @include min-width(medium) {
        padding: 92px 0;
      }

      strong {
        font-weight: $font-black;
      }

      p:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &--previous {
      padding: 56px 0 189px;
    }

    &__title {
      color: $mid-colour-2;
      font-family: $family-1;
      font-size: 1.875rem;
      font-weight: $font-black;

      @include max-width(medium) {
        text-align: center;
      }
    }

    &__light {
      font-weight: $font-normal;
    }
  }

  .g-exhibitionSlider {
    @include min-width(medium) {
      display: flex;
    }

    &__images {
      @include min-width(medium) {
        flex: 0 0 45%;
        margin-right: 75px;
        max-width: 45%;
      }

      @include max-width(medium) {
        margin-bottom: 2rem;
      }
    }

    &__imageWrap {
      @include object-fit-parent;
    }

    &__image {
      @include object-fit;
    }

    &__nav {
      background: $pale-colour;
      bottom: 0;
      box-shadow: inset 0 0 0 0 $light-colour;
      color: $primary-colour;
      height: 60px;
      left: auto;
      line-height: 60px;
      outline: 0;
      text-align: center;
      top: auto;
      transition: box-shadow .2s;
      width: 60px;

      &--next {
        right: 0;
      }

      &--prev {
        right: 69px;
      }

      &:focus {
        box-shadow: inset 0 -5px 0 0 $light-colour;
      }
    }

    &__text {
      flex: 1 0 0;
    }

    &__title:not(.dud) {
      font-size: 2.125rem;
      margin: 0;

      @include max-width(medium) {
        text-align: center;
      }
    }

    &__timespan {
      font-family: $family-2;
      font-weight: $font-medium;
      margin-bottom: 2rem;

      @include max-width(medium) {
        text-align: center;
      }
    }
  }

  .g-exhibitionList {
    $self: &;

    $list-padding: 19px;
    $list-margin: 97px;

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 3.5rem -#{$list-padding} -#{$list-margin};
    padding: 0;

    @include min-width(medium) {
      font-size: 1.125rem;
    }

    &__single {
      flex: 0 0 50%;
      margin-bottom: $list-margin;
      max-width: 50%;
      padding: 0 $list-padding;
      text-align: center;

      @include min-width(medium) {
        flex: 0 0 25%;
        max-width: 25%;
      }

      &--wide {
        flex: 0 0 100%;
        max-width: 100%;

        @include min-width(small) {
          display: flex;
        }

        @include min-width(medium) {
          flex: 0 0 50%;
          max-width: 50%;
        }

        #{$self}__imageWrap {
          @include min-width(small) {
            flex: 0 0 auto;
            max-width: 50%;
          }

          + #{$self}__content {
            @include min-width(small) {
              flex: 1 1 auto;
            }
          }
        }

        #{$self}__image {
          border-radius: 0;

          @include min-width(small) {
            height: 100%;
            object-fit: cover;
          }
        }

        #{$self}__content {
          background: $primary-colour;
          color: $white;
          padding: 2rem;
          text-align: left;

          #{$self}__title {
            margin-top: 0;
            font-size: 2rem;
          }
        }
      }
    }

    &__image {
      border-radius: 8px;
    }

    &__title:not(.dud) {
      color: currentColor;
      font-family: $family-1;
      font-size: 1.125rem;
      font-weight: $font-bold;
      margin: 1.2rem 0 .2rem;

      @include min-width(medium) {
        font-size: 1.4375rem;
      }
    }

    &__timespan {
      color: $pale-colour;
      font-size: 1.125rem;
      font-style: italic;
      line-height: 1.1;
      margin-top: 1rem;
    }
  }
{% endstylesheet %}
