---
pagination:
  data: generatedPages
  size: 1
  alias: wpPage
permalink: '{{ wpPage.slug }}/'
contact: false
newsletter: false
eleventyComputed:
  breadcrumbs: [
    { title: '{{ currentItem.title.rendered }}' }
  ]
---

<!-- html -->

<div class="p-page container">
  <div class="page-head">
    {% include 'breadcrumbs.html' %}
    <h1>{{ wpPage.title.rendered }}</h1>
    {{ wpPage.content.rendered }}
  </div>
</div>

<!-- endhtml -->

{% stylesheet 'scss' %}
  @import 'variable';

  .p-page {
    margin-bottom: 100px;
  }
{% endstylesheet %}
