---
newsletter: false
wpSlug: home
sitemap:
  priority: 1.0
---

<!-- html -->

{% include 'home-carousel.html' %}

<section class="s-intro">
  <div class="s-intro__contain container">
    <div class="s-intro__title">
      <h1>{{ currentItem.acf.intro_title }}</h1>
    </div>
    <div class="s-intro__content">
      {{ currentItem.content.rendered }}
    </div>
  </div>
</section>

{% include 'newsletter.html' %}

<section class="s-artists">
  <div class="s-artists__contain container">
    <h2 class="s-artists__title">{{ currentItem.acf.artists.title }}</h2>
    <div class="s-artists__subtitle">{{ currentItem.acf.artists.subtitle }}</div>
    <div class="s-artists__slider swiper-container">
      <div class="swiper-wrapper">
        {% if artists %}
          {% for artist in artists %}
            <div class="s-artists__slide swiper-slide">
              <a class="s-artists__link" href="/artists/{{ artist.slug }}/">
                {% assign sizes = '(min-width:1200px) 329px, (min-width:992px) 269px,  (min-width:523px) 330px, calc(100vw - 182px)' %}
                {% wpImage artist.acf.acf_thumbnail, 's-artists__image', 329, 1, false, sizes  %}
                <h3 class="s-artists__name">{{ artist.title.rendered }}</h3>
                <div>{{ artist.acf.info.media }}</div>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="s-artists__scrollbar swiper-scrollbar"></div>
    </div>
  </div>
</section>

<!-- endhtml -->

{% javascript %}
// slider variables
const artistLinks = document.querySelectorAll('.s-artists__link')
const artistSlides = {{ artists.size }}

whenLoaded('swiper', function() {
  const { Swiper, Scrollbar, A11y } = window.swiper
  Swiper.use([Scrollbar, A11y]);

  // initialise slider
  const artistSlider = new Swiper('.s-artists__slider', {
    slidesPerView: 1,
    centeredSlides: true,
    centeredSlidesBounds: true,
    initialSlide: Math.floor(artistSlides / 2),
    scrollbar: {
      el: '.swiper-scrollbar',
      draggable: true,
      hide: false
    },
    breakpoints: {
      992: {
        slidesPerView: 3,
      }
    }
  })

  // handle focus
  artistLinks.forEach(item => {
    item.addEventListener('focus', event => {
      const el = event.target
      const index = Array.from(el.parentNode.parentNode.children).indexOf(el.parentNode)
      artistSlider.swiper.slideTo(index)
    })
  })
})
{% endjavascript %}

{% stylesheet 'scss' %}
  @import 'variable';

  .s-alert {
    padding: 78px 0 0;
    text-align: center;

    &__box {
      background: #f2dede;
      border: 1px solid #ebccd1;
      border-radius: 5px;
      color: darken(#a94442, 10%);
      font-size: 1.125rem;
      padding: 1rem 1.5rem;

      a {
        font-weight: $font-bold;
        text-decoration: underline;
      }
    }
  }

  .s-intro {
    font-size: 1.125rem;
    line-height: 1.55;
    padding: 78px 0;

    &__contain {
      @include min-width(large) {
        display: flex;
        max-width: 1002px;
      }
    }

    &__title {
      display: flex;

      @include min-width(large) {
        flex-direction: column;
        flex: 0 0 250px;
        margin-right: 113px;
        max-width: 250px;
      }

      @include max-width(large) {
        align-items: center;
      }
    }

    h1 {
      font-family: $family-2;
      font-size: 2.125rem;
      font-weight: $font-normal;
      letter-spacing: -.01em;
      line-height: 1.15;
    }

    &__badge {
      --size: 10rem;

      height: var(--size);
      width: var(--size);

      @include max-width(large) {
        --size: 6rem;
        height: auto;
      }

      &--pic {
        margin-top: auto;

        @include max-width(large) {
          margin-left: auto;
          margin-top: 0;
        }

        @include browser('ie') {
          max-height: 250px;
        }
      }
    }

    p {
      margin-bottom: .5rem;
    }
  }

  .s-artists {
    $artists: &;

    color: $light-colour;
    font-size: 1.125rem;
    overflow: hidden;
    padding: 80px 0;
    text-align: center;

    &__title {
      font-family: $family-2;
      font-size: 2.125rem;
      font-weight: $font-normal;
    }

    &__slider {
      margin-top: 3.9375rem;

      @include max-width(large) {
        padding: 0 50px;
      }

      &:not(.dud) {
        overflow: visible;
      }

      .swiper-wrapper {
        @include browser('ie') {
          flex-wrap: wrap;
        }
      }
    }

    &__slide {
      color: $primary-colour;
      padding: 0 16px;

      @include min-width(large) {
        padding: 0 23px;
      }

      &.swiper-slide-active, &.swiper-slide-prev, &.swiper-slide-next {
        #{$artists}__image {
          @include min-width(large) {
            transform: scale(1);
          }
        }
      }

      @include browser('ie') {
        flex-basis: 33.33%;
        max-width: 33.33%;
      }
    }

    &__link {
      display: block;

      &:focus-visible {
        outline: none;

        #{$artists}__image {
          box-shadow: 0 0 0 10px $focus-outline;
        }
      }
    }

    &__image {
      border-radius: 8px;

      @include min-width(large) {
        transform: scale(.89);
        transition: transform .2s;
      }

      @media (prefers-reduced-motion: reduce) {
        transform: scale(1) !important;
        transition-duration: .001s !important;
      }
    }

    &__name:not(.dud) {
      font-family: $family-1;
      font-size: 1.4375rem;
      font-weight: $font-bold;
      margin: 1.1875rem 0 .5rem;
    }

    &__scrollbar:not(.dud):not(.dud) {
      background: rgba(#d1c0cc, .5);
      border-radius: 3px;
      bottom: 0;
      height: 14px;
      left: 0;
      margin-top: 4.4rem;
      position: relative;
      width: 100%;

      .swiper-scrollbar-drag {
        background: $primary-colour;
        border-radius: 3px;
        cursor: grab;
      }
    }
  }
{% endstylesheet %}
