---
wpSlug: photography
eleventyComputed:
  breadcrumbs: [
    { title: '{{ currentItem.title.rendered }}' }
  ]
assets:
  photoswipe: true
---

<!-- html -->

<section class="p-photography">
  <div class="p-photography__contain container">
    {% include 'breadcrumbs.html' %}
    <div class="p-photography">
      <div class="p-photography__head">
        <div class="p-photography__headText">
          <h1>{{ currentItem.title.rendered }}</h1>
          {% if currentItem.content %}
            {{ currentItem.content.rendered }}
          {% endif %}
        </div>
        <div class="p-photography__headImageFrame">
          {% assign headImage = currentItem.acf.acf_primary_image %}
          <div class="p-photography__headImageWrap">
            {% assign sizes = '(min-width:1200px) 625px, (min-width:992px) 423px, (min-width:768px) 247px, (min-width:576px) 441px, calc((100vw - 50px) * .9)' %}
            {% wpImage headImage, 'p-photography__headImage', 625, false, false, sizes %}
          </div>
          {% assign sizes = '(min-width:1200px) 694px, (min-width:992px) 514px, (min-width:768px) 274px, (min-width:576px) 490px, calc(100vw - 50px)' %}
          {% localImage 'frame.png', '', 'p-photography__headFrame', 694, false, sizes %}
          <a href="{% urlImage headImage.url %}" class="p-photography__headImageLink" data-lightbox="headImage" data-size="{{ headImage.width }}x{{ headImage.height }}" aria-label="View Image Full Screen"></a>
        </div>
      </div>
      {% if currentItem.acf.acf_gallery.size > 0 %}
        <ul class="p-photography__list">
          {% for photo in currentItem.acf.acf_gallery %}
            <li class="p-photography__imageWrap">
              <a href="{% urlImage photo.url %}" class="p-photography__imageLink" data-lightbox="gallery" data-size="{{ photo.width }}x{{ photo.height }}">
                {% wpImage photo, 'p-photography__image', 253, 1, false, 'gallery' %}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</section>

<!-- endhtml -->

{% stylesheet 'scss' %}
  @import 'variable';

  .p-photography {
    $photography-grid-padding: 8px;

    .c-breadcrumbs {
      position: absolute;
      right: $container-padding;
      top: 1rem;
    }

    &__contain {
      margin: 0 auto 150px;
      position: relative;

      @include min-width(medium) {
        padding-top: 109px;
      }
    }

    &__head {
      font-size: 1.125rem;

      @include min-width(medium) {
        align-items: flex-start;
        display: flex;
      }
    }

    &__headText {
      @include min-width(medium) {
        flex: 0 0 370px;
        margin-right: 60px;
        max-width: 370px;
      }

      @include max-width(medium) {
        margin-bottom: 60px;
      }
    }

    &__headImageFrame {
      flex: 1 0 0;
      position: relative;
    }

    &__headImageWrap {
      $horiz: 5%;
      $vert: 10%;

      @include object-fit-parent;

      box-shadow: 30px 30px 30px 10px rgba($black, .27);
      height: #{100% - $vert * 2};
      left: $horiz;
      position: absolute;
      top: $vert;
      width: #{100% - $horiz * 2};
    }

    &__headImage {
      @include object-fit;
    }

    &__headFrame {
      pointer-events: none;
      position: relative;
    }

    &__headImageLink {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: -#{$photography-grid-padding} -#{$photography-grid-padding};
      padding: 60px 0 0;

      @include min-width(medium) {
        padding: 104px 0 0;
      }
    }

    &__imageWrap {
      flex: 0 0 50%;
      max-width: 50%;
      padding: $photography-grid-padding;

      @include min-width(medium) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    &__imageLink {
      @include object-fit-parent;

      display: block;
      border-radius: 5px;
      height: 0;
      padding-bottom: 100%;
      width: 100%;

      &:focus-visible {
        box-shadow: 0 0 0 10px $focus-outline;
        outline: none;
      }
    }

    &__image {
      @include object-fit(true);
    }
  }
{% endstylesheet %}
