---
wpSlug: workshops
eleventyComputed:
  breadcrumbs: [
    { title: '{{ currentItem.title.rendered }}' }
  ]
assets:
  photoswipe: true
---

<!-- html -->

<div class="container">
  <div class="page-head p-workshops">
    <h1>{{ currentItem.title.rendered }}</h1>
    {% if currentItem.content %}
      {{ currentItem.content.rendered }}
    {% endif %}
    {% include 'breadcrumbs.html' %}
    {% if currentItem.acf.acf_gallery.size > 0 %}
      <ul class="p-workshops__list">
        {% for image in currentItem.acf.acf_gallery %}
          <li class="p-workshops__imageWrap">
            <a href="{% urlImage image.url %}"  class="p-workshops__imageLink" data-lightbox="gallery" data-size="{{ image.width }}x{{ image.height }}">
              {% wpImage image, 'p-workshops__image', 253, 1  %}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

<!-- endhtml -->

{% stylesheet 'scss' %}
  @import 'variable';

  .p-workshops {
    $gallery-grid-padding: 8px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: -#{$gallery-grid-padding} -#{$gallery-grid-padding};
      padding: 20px 0 60px;

      @include min-width(medium) {
        padding: 40px 0 80px;
      }
    }

    &__imageWrap {
      flex: 0 0 50%;
      max-width: 50%;
      padding: $gallery-grid-padding;

      @include min-width(medium) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    &__imageLink {
      @include object-fit-parent;

      display: block;
      border-radius: 5px;
      height: 0;
      padding-bottom: 100%;
      width: 100%;

      &:focus-visible {
        box-shadow: 0 0 0 10px $focus-outline;
        outline: none;
      }
    }

    &__image {
      @include object-fit(true);
    }
  }
{% endstylesheet %}
